
<header>
    <div class="logo">
        <img src="../../assets/profilepic.jpeg" alt="No Logo Img">
    </div>
    <div class="mainHeader">
       <div class="search">
        <mat-icon class="searchIcon">search</mat-icon>  
        <input type="text" class="searchBar" placeholder="Search">
       </div>
       <div class="notifications">
        <span class="mailIcon"><mat-icon>mail</mat-icon></span>
        <span class="settingIcon"><mat-icon>settings</mat-icon></span>
        <span class="notificationIcon"><mat-icon>notifications</mat-icon></span>
        <span class="profileImg"><img src="../../assets/profilepic.jpeg" alt="Profile Img"></span>
       </div>
    </div>
</header>

<div class="container">
    <div class="sideNav">
       <div class="sideNavBar">
        <span class="homeIcon"><mat-icon>home</mat-icon></span>
        <span class="grpahIcon"><mat-icon>insert_chart</mat-icon></span>
        <span class="correctionIcon"><mat-icon>beenhere</mat-icon></span>
        <span class="walletIcon"><mat-icon>account_balance_wallet</mat-icon></span>
        <span class="laguageIcon"><mat-icon>local_mall</mat-icon></span>
       </div>
        <div class="exit">
            <span><mat-icon>logout</mat-icon></span>
        </div>
    </div>
    <div class="dashboard">
        <div class="heading">
            <h2>Dashboard</h2>
        </div>
        <div>
        <app-dashboard></app-dashboard>
        </div>    
    </div>
</div>
